{% extends "Layout/base.html" %}

{% block contentTitle %}
<h1>밥 뭐 먹지? - 상세검색</h1>
{% endblock %}

{% block content %}
<div>
	<form id="advancedFoodSearcher" name="advanced_sercher" action="">
	{% csrf_token %}
		<table border=1>
			<tr>
				<td>분류</td>
				<td>
					<input id="selectCategoryAll" type="radio" /><label for="selectCategoryAll">전체선택</label><br />
					<input id="cancelCategoryAll" type="radio" /><label for="cancelCategoryAll">전체해제</label>
				</td>
				<td>
					<input id="checkboxHansik" type="checkbox" name="category" value="1" /><label for="checkboxHansik">한식</label>
					<input id="checkboxBunsik" type="checkbox" name="category" value="2" /><label for="checkboxBunsik">분식</label>
					<input id="checkboxPizza" type="checkbox" name="category" value="3" /><label for="checkboxPizza">피자</label>
					<input id="checkboxChicken" type="checkbox" name="category" value="4" /><label for="checkboxChicken">치킨</label>
					<input id="checkboxIlsik" type="checkbox" name="category" value="5" /><label for="checkboxIlsik">일식</label>
					<input id="checkboxNaengmyon" type="checkbox" name="category" value="6" /><label for="checkboxNaengmyon">냉면</label>
					<input id="checkboxDosirak" type="checkbox" name="category" value="7" /><label for="checkboxDosirak">도시락</label>
					<input id="checkboxCategoryEtc" type="checkbox" name="category" value="8" /><label for="checkboxCategoryEtc">기타</label>
				</td>
			</tr>
				<td>지역</td>
				<td>
					<input id="selectRegionAll" type="radio" /><label for="selectRegionAll">전체선택</label><br />
					<input id="cancelRegionAll" type="radio" /><label for="cancelRegionAll">전체해제</label>
				</td>
				<td>
					<input id="checkboxNokdu" type="checkbox" name="region" value="1" /><label for="checkboxNokdu">녹두</label>
					<input id="checkboxSNUStation" type="checkbox" name="region" value="2" /><label for="checkboxSNUStation">서울대입구역</label>
					<input id="checkboxSNU" type="checkbox" name="region" value="3" /><label for="checkboxSNU">학교</label>
					<input id="checkboxRegionEtc" type="checkbox" name="region" value="4" /><label for="checkboxRegionEtc">기타</label>
				</td>
			<tr>
				<td>음식점</td>
				<td>
					<input id="selectRestaurantAll" type="radio" /><label for="selectRestaurantAll">전체선택</label><br />
					<input id="cancelRestaurantAll" type="radio" /><label for="cancelRestaurantAll">전체해제</label>
				</td>
				<td>
					<div id="restaurantSearchResult">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan=3>
					<input id="startAdvancedSearch" type="submit" name="find_restaurant" value="밥 뭐먹지?">
				</td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}
