{% extends "Layout/base.html" %}

{% block content %}
<h1>밥 뭐 먹지?</h1>
<form id= "FoodSearcher" name="food_searcher" action="">
	{% csrf_token %}
	<fieldset>
		<input class="checkboxHansik" type="checkbox" name="category" value="1" checked /><span class="categoryHansik">한식</span>
		<input class="checkboxBunsik" type="checkbox" name="category" value="2" checked /><span class="categoryBunsik">분식</span>
		<input class="checkboxPizza" type="checkbox" name="category" value="3" checked /><span class="categoryPizza">피자</span>
		<input class="checkboxChicken" type="checkbox" name="category" value="4" checked /><span class="categoryChicken">치킨</span>
		<input class="checkboxIlsik" type="checkbox" name="category" value="5" checked /><span class="categoryIlsik">일식</span>
		<input class="checkboxNaengmyon" type="checkbox" name="category" value="6" checked /><span class="categoryNaengmyon">냉면</span>
		<input class="checkboxDosirak" type="checkbox" name="category" value="7" checked /><span class="categoryDosirak">도시락</span>
		<input class="checkboxEtc" type="checkbox" name="category" value="8" checked /><span class="categoryEtc">기타</span>
	</fieldset>
	<br /><br />
	<input type="submit" name="search" value="음식점 찾기!" />
	<button id="AdvancedSearchStartButton" type="button">상세 검색</button>
</form>
{% endblock %}
