{% extends "Layout/base.html" %}

{% block contentTitle %}
<h1><a href="{% url 'index' %}">밥 뭐 먹지?</a></h1>
{% endblock %}

{% block content %}
<form id= "FoodSearcher" name="food_searcher" action="">
	{% csrf_token %}
	<fieldset>
		<legend>분류</legend>
		<input id="checkboxHansik" type="checkbox" name="category" value="1" checked /><label for="checkboxHansik">한식</label>
		<input id="checkboxBunsik" type="checkbox" name="category" value="2" checked /><label for="checkboxBunsik">분식</label>
		<input id="checkboxPizza" type="checkbox" name="category" value="3" checked /><label for="checkboxPizza">피자</label>
		<input id="checkboxChicken" type="checkbox" name="category" value="4" checked /><label for="checkboxChicken">치킨</label>
		<input id="checkboxIlsik" type="checkbox" name="category" value="5" checked /><label for="checkboxIlsik">일식</label>
		<input id="checkboxNaengmyon" type="checkbox" name="category" value="6" checked /><label for="checkboxNaengmyon">냉면</label>
		<input id="checkboxDosirak" type="checkbox" name="category" value="7" checked /><label for="checkboxDosirak">도시락</label>
		<input id="checkboxEtc" type="checkbox" name="category" value="8" checked /><label for="checkboxEtc">기타</label>
	</fieldset>
	<fieldset>
		<legend>가격</legend>
		<input id="textboxPriceLowerBound" type="text" name="priceLowerBound" value="0" />
		~
		<input id="textboxPriceUpperBound" type="text" name="priceUpperBound" value="13000" />
		</fieldset>
	<br />
	<input type="submit" name="search" value="추천 받기!" />
	<button id="AdvancedSearchStartButton" type="button">상세 검색</button>
	<button id="showRestaurantListButton" type="button">등록된 음식점 보기</button>
</form>
<h4>자매품 <a href="">이제 뭐하지?</a>도 체험해보세요!</h4>
{% endblock %}
