{% extends "Layout/base_restaurant.html" %}

{% block contentTitle %}
<h1>밥 뭐 먹지? - 음식점 등록</h1>
{% endblock %}

{% block content %}
<form id="registerRestaurantForm" name="register_restaurant" action="">
	<fieldset>
		<table border=1>
			<tr>
				<td>
					음식점 이름
				</td>
				<td colspan=3>
					<input type="text" name="restaurant_name" /><br />
				</td>
			</tr>
			<tr>
				<td>
					분류		
				</td>
				<td colspan=3>
					<input id="checkboxHansik" type="checkbox" name="category" value="1" /><label for="checkboxHansik">한식</label>
					<input id="checkboxBunsik" type="checkbox" name="category" value="2" /><label for="checkboxBunsik">분식</label>
					<input id="checkboxPizza" type="checkbox" name="category" value="3" /><label for="checkboxPizza">피자</label>
					<input id="checkboxChicken" type="checkbox" name="category" value="4" /><label for="checkboxChicken">치킨</label>
					<input id="checkboxIlsik" type="checkbox" name="category" value="5" /><label for="checkboxIlsik">일식</label>
					<input id="checkboxNaengmyon" type="checkbox" name="category" value="6" /><label for="checkboxNaengmyon">냉면</label>
					<input id="checkboxDosirak" type="checkbox" name="category" value="7" /><label for="checkboxDosirak">도시락</label>
					<input id="checkboxCategoryEtc" type="checkbox" name="category" value="8" /><label for="checkboxCategoryEtc">기타</label>
				</td>
			</tr>
			<tr>
				<td>
					지역		
				</td>
				<td colspan=3>
					<input id="radioNokdu" type="radio" name="region" value="1" /><label for="radioNokdu">녹두</label>
					<input id="radioSNUStation" type="radio" name="region" value="2" /><label for="radioSNUStation">서울대입구역</label>
					<input id="radioSNU" type="radio" name="region" value="3" /><label for="radioSNU">학교</label>
					<input id="radioRegionEtc" type="radio" name="region" value="4" /><label for="radioRegionEtc">기타</label>
				</td>
			</tr>
				<td colspan=4>
					음식 등록	
					<button id="addFood" type="button">음식 입력칸 추가</button>
				</td>
			<tr>
				<td>
					이름
				</td>
				<td>
					<input type="textbox" name="food_name" />			
				</td>
				<td>
					가격
				</td>
				<td>
					<input type="textbox" name="food_price" />
				</td>
			</tr>
			<tr>
				<td colspan=4>
					<input type="submit" name="register" value="음식점 등록!" />
				</td>
			</tr>
		</table>
	</fieldset>
</form>
{% endblock %}
