{% extends "Layout/base_restaurant.html" %}

{% block contentTitle %}
<h1>밥 뭐 먹지? - 음식점 등록</h1>
{% endblock %}

{% block content %}
<form id="registerRestaurantForm" name="register_restaurant" action="">
	{% csrf_token %}
	<fieldset>
		<table id="restaurantTable" border=1>
			<tbody>
				<tr>
					<td colspan=6>
						음식점 정보
					</td>
				</tr>
				<tr>
					<td>
						음식점 이름
					</td>
					<td colspan=5>
						<input type="text" name="restaurant_name" />
					</td>
				</tr>
				<tr>
					<td>
						전화번호
					</td>
					<td colspan=5>
						<input type="text" name="restaurant_phone" />
					</td>
				</tr>
				<tr>
					<td>
						분류		
					</td>
					<td colspan=5>
						<input id="radioHansik" type="radio" name="category" value="1" /><label for="radioHansik">한식</label>
						<input id="radioBunsik" type="radio" name="category" value="2" /><label for="radioBunsik">분식</label>
						<input id="radioPizza" type="radio" name="category" value="3" /><label for="radioPizza">피자</label>
						<input id="radioChicken" type="radio" name="category" value="4" /><label for="radioChicken">치킨</label>
						<input id="radioIlsik" type="radio" name="category" value="5" /><label for="radioIlsik">일식</label>
						<input id="radioNaengmyon" type="radio" name="category" value="6" /><label for="radioNaengmyon">냉면</label>
						<input id="radioDosirak" type="radio" name="category" value="7" /><label for="radioDosirak">도시락</label>
						<input id="radioCategoryEtc" type="radio" name="category" value="8" /><label for="radioCategoryEtc">기타</label>
					</td>
				</tr>
				<tr>
					<td>
						지역		
					</td>
					<td colspan=5>
						<input id="radioNokdu" type="radio" name="region" value="1" /><label for="radioNokdu">녹두</label>
						<input id="radioSNUStation" type="radio" name="region" value="2" /><label for="radioSNUStation">서울대입구역</label>
						<input id="radioSNU" type="radio" name="region" value="3" /><label for="radioSNU">학교</label>
						<input id="radioRegionEtc" type="radio" name="region" value="4" /><label for="radioRegionEtc">기타</label>
					</td>
				</tr>
				<tr>
					<td>
						음식점 특이사항
					</td>
					<td colspan=5>
						<textarea name="restaurant_detail" form="registerRestaurantForm"></textarea>
					</td>
				</tr>
			</tbody>
			<tbody id='foodTextbox'>
				<tr>
					<td colspan=6>
						음식 정보 	
						<button id="addFoodButton" type="button">음식 입력칸 추가</button>
					</td>
				</tr>
				<tr>
					<td>
						이름
					</td>
					<td>
						<input type="textbox" name="food_name" />			
					</td>
					<td>
						가격
					</td>
					<td>
						<input type="textbox" name="food_price" />
					</td>
					<td>
						특이사항
					</td>
					<td>
						<input type="textbox" name="food_detail" />
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan=6>
						<input type="submit" name="register" value="음식점 등록!" />
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
</form>
{% endblock %}
