{% extends "Layout/base_restaurant.html" %}

{% block contentTitle %}
<h1>밥 뭐 먹지? - 음식점 정보</h1>
{% endblock %}

{% block content %}
<table id="restaurantTable" border=1>
	<tbody>
		<form id="registerRestaurantForm" name="register_restaurant" action="">
		{% csrf_token %}
			<tr>
				<td colspan=7>
					음식점 정보
					<input id="modifyRestaurantSubmit" type="submit" value="수정하기" />
				</td>
			</tr>
			<tr>
				<td>
					음식점 이름
				</td>
				<td colspan=6>
					{{ restaurant.Name }}
				</td>
			</tr>
			<tr>
				<td>
					전화번호
				</td>
				<td colspan=6>
					{{ restaurant.PhoneNumber }}
				</td>
			</tr>
			<tr>
				<td>
					분류		
				</td>
				<td colspan=6>
					{{ restaurant.Category.Name }}
				</td>
			</tr>
			<tr>
				<td>
					지역		
				</td>
				<td colspan=6>
					{{ restaurant.Region.Name }}
				</td>
			</tr>
			<tr>
				<td>
					음식점 특이사항
				</td>
				<td colspan=6>
					{{ restaurant.Detail }}
				</td>
			</tr>
		</form>
	</tbody>
	<tbody id='foodTextbox'>
		<form id="registerFoodForm" name="register_food" action="">
		{% csrf_token %}
			<tr>
				<td colspan=7>
					음식 정보
					<button id="addFoodButton" type="button">음식 추가하기</button>
				</td>
			</tr>
			{% for food in food_list %}
			<tr>
				<td>
					이름
				</td>
				<td>
					{{ food.Name }}
				</td>
				<td>
					가격
				</td>
				<td>
					{{ food.Price }}
				</td>
				<td>
					특이사항
				</td>
				<td colspan=2>
					{{ food.Detail }}
				</td>
			</tr>
			{% endfor %}
		</form>
	</tbody>
</table>
{% endblock %}
