@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@font-face {
	font-family:NanumGothic;
src: url('../Font/NanumGothic.eot');
src: url('../Font/NanumGothic.eot?#iefix') format('embeded-opentype'),
		 url('../Font/NanumGothic.woff) format('woff'),
		 url('../Font/NanumGothic.ttf') format('truetype');
	 font-weight: normal;
	 font-style: normal;
}

body, input, button, select, option, textarea {
	font-family:'Nanum Gothic';
}
