<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}CSS/base_style.css" />
		<script type="text/javascript" src="{{STATIC_URL}}Script/Jquery/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}Script/main.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}Script/search.js"></script>

		<title>밥 뭐 먹지?</title>
	</head>
	<body>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="advancedSearch">
			{% block advancedSearch %}
			{% endblock %}
		</div>
		<div id="searchResult">
			{% block searchResult %}
			{% endblock %}
		</div>
	</body>
</html>
